<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/materialize.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../static/css/materialize.css"  media="screen,projection"/>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projeto 1</title>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo"><i class="tiny material-icons">all_inclusive</i> Infinity Flask</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/sobre">Sobre</a></li>
              </ul>
            </div>  
        </nav>   
        <br>
        <p>Aqui é página de contato da Infinity</p>
    </body>
</html>